:root{
  --c-text-primary: #333;
  --c-text-secondary: #999;
  --c-action-active: cornflowerblue;
  --c-action-active-dark: #5875a9;
  --c-action-inactive: #d9d9d9;
  --c-background: #F7F7F8;
}

*{
  margin: 0;
  padding: 0;
  position: relative;

  color: var(--c-text-primary);
  font-size: 16px;
  font-family: 'Noto Sans', serif;
}

img{
  max-width: 100%;
  height: auto;
}

p{
  font-size: 1rem;
  line-height: 1.4;
}

a{
  font-size: 1rem;
  transition: .35s;
  color: var(--c-action-active);
  text-decoration: none;
}
a:hover,
a:focus{
  color: var(--c-action-active-dark);
}

small{
  font-size: 0.875rem;
}
small a{
  font-size: 1em;
}

.text-center{
  display: block;
  text-align: center;
}

section,
main,
footer{
  padding: 5%;
}

/* sticky footer */
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}

/* page-top */
section.page-top{
  padding-bottom: 15px;
}

/* page-top > logo */
section.page-top img{
  max-height: 100px;
}

/* page-top > nav */
section.page-top nav{
  padding: 30px 0 0;
}
section.page-top nav ul li{
  display: inline-block;
  margin-right: 30px;
}
section.page-top nav ul li a{
  color: var(--c-action-inactive);
}
section.page-top nav ul li a:hover,
section.page-top nav ul li.is-active a{
  color: var(--c-action-active);
}

/* main */
main{
  background-color: var(--c-background);
}

/* main > section */
main section{
  background-color: white;
}
main section p{
  margin-bottom: .8em;

  font-size: 1.125em;
}
main section p:last-child{
  margin-bottom: 0;
}
main section p small{
  display: block;

  color: var(--c-text-secondary);
}

/* footer */
footer{
  background-color: var(--c-background);
}
footer small{
  color: var(--c-text-secondary);
}