@mixin font-regular{
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
}

@mixin font-bold{
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 500;
}