* {
  margin: 0;
  padding: 0;
  position: relative; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@font-face {
  font-family: 'AvenirNextLTPro-Light';
  src: url("../webfonts/300B50_0_0.eot");
  src: url("../webfonts/300B50_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/300B50_0_0.woff2") format("woff2"), url("../webfonts/300B50_0_0.woff") format("woff"), url("../webfonts/300B50_0_0.ttf") format("truetype"); }
@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url("../webfonts/300B50_1_0.eot");
  src: url("../webfonts/300B50_1_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/300B50_1_0.woff2") format("woff2"), url("../webfonts/300B50_1_0.woff") format("woff"), url("../webfonts/300B50_1_0.ttf") format("truetype"); }
h1, h2, h3, p, span,
time, a {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 300;
  font-size: 16px; }
  h1 strong, h2 strong, h3 strong, p strong, span strong,
  time strong, a strong {
    font-weight: 500; }

h1 {
  font-size: 80px;
  font-weight: 100;
  line-height: 1; }

h2 {
  font-size: 24px;
  line-height: 1.5; }

h3 {
  font-family: "Chronicle Display A", "Chronicle Display B";
  font-style: normal;
  font-weight: 300;
  font-size: 60px; }

p {
  font-size: 18px; }

article p {
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 1.6; }

a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  color: black;
  border-bottom: thin dotted black; }
  a:after {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    content: "";
    bottom: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: black; }
  a:hover, a:focus {
    color: black; }
    a:hover:after, a:focus:after {
      opacity: 1; }

a.has-content {
  color: black;
  text-decoration: none;
  border-bottom: none; }

article a {
  border-bottom: thin solid #888888; }
  article a:hover, article a:focus {
    border-color: black; }

nav a {
  padding-bottom: 0;
  color: black;
  text-decoration: none;
  border-bottom: thin solid transparent; }
  nav a:hover, nav a:focus {
    padding-bottom: 5px;
    border-bottom: thin solid black; }

nav .current_page_parent a,
nav .current-menu-item a {
  padding-bottom: 5px;
  border-bottom: thin solid black; }

html,
body {
  height: auto !important;
  min-height: 100%;
  background-color: black; }

body {
  padding: 30px;
  background-size: 100%;
  background-image: url("/lucawater3/content/themes/elements/img/background.jpg"); }

main {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 150px 30px;
  background-color: white; }
  main > * {
    width: 100%;
    max-width: 800px;
    padding: 75px 0;
    margin: auto; }

@media screen and (max-width: 850px) {
  main {
    padding: 75px 30px; }
    main > * {
      padding: 35px 0; } }
@media screen and (max-width: 850px) {
  header h1 {
    font-size: 5.5vmax; } }
body > footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black; }
  body > footer p, body > footer a {
    color: white; }

body.error404 #error404-content {
  max-width: 800px;
  margin: 100px auto;
  display: block !important;
  background-color: transparent; }
  body.error404 #error404-content h2, body.error404 #error404-content p {
    margin-bottom: 1em; }

a.trigger-menu {
  width: 35px;
  height: 35px;
  display: block;
  position: relative; }
  a.trigger-menu i {
    width: 100%;
    height: 3px;
    display: block;
    top: calc(50% - 1.5px);
    background: black; }
    a.trigger-menu i:before, a.trigger-menu i:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      transition: .2s; }
    a.trigger-menu i:before {
      margin-top: -8px; }
    a.trigger-menu i:after {
      margin-top: 8px; }

a.trigger-menu:hover i:before, a.trigger-menu:hover i:after {
  transition: .2s; }
a.trigger-menu:hover i:before {
  margin-top: -11px; }
a.trigger-menu:hover i:after {
  margin-top: 11px; }

@keyframes activebefore {
  50% {
    margin-top: 0; }
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }
a.trigger-menu:focus i:before {
  -webkit-animation: activebefore .4s linear; }

nav ul {
  display: inline; }
  nav ul li {
    display: inline-block;
    padding-right: 30px; }
    nav ul li:last-child {
      padding-right: 0; }

nav ul li.current {
  text-decoration: underline; }

section.projects p {
  margin-bottom: 30px; }
section.projects ul {
  list-style: none; }
  section.projects ul li {
    position: relative;
    margin-bottom: 30px; }
    section.projects ul li span {
      bottom: 10px;
      left: -130px;
      position: absolute;
      width: 100px;
      padding-bottom: 10px;
      border-bottom: 2px solid black;
      color: #6f53f0;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px; }
    section.projects ul li a {
      display: inline-block; }
      section.projects ul li a:before {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        content: "\00bb";
        left: -50px;
        position: absolute;
        opacity: 0;
        font-size: 40px;
        line-height: 70px; }
      section.projects ul li a:after {
        display: none; }
      section.projects ul li a:hover:before, section.projects ul li a:focus:before {
        left: -30px;
        opacity: 1; }
