* {
  margin: 0;
  padding: 0;
  position: relative; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h1, h2, p, span,
time, a, body > header div button {
  font-family: "Gotham A", "Gotham B";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-weight: normal; }

h1 {
  font-size: 4.5em; }

article h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

p {
  font-size: .9em; }

article p {
  margin-bottom: 1em;
  font-size: 18px;
  line-height: 1.6; }

a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-size: 1em;
  color: #888888;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: black; }

a.has-content {
  color: black;
  text-decoration: none; }

article a {
  border-bottom: thin solid #888888; }
  article a:hover, article a:focus {
    border-color: black; }

nav a {
  padding-bottom: 0;
  color: black;
  text-decoration: none;
  border-bottom: thin solid transparent; }
  nav a:hover, nav a:focus {
    padding-bottom: 5px;
    border-bottom: thin solid black; }

nav .current_page_parent a,
nav .current-menu-item a {
  padding-bottom: 5px;
  border-bottom: thin solid black; }

html,
body {
  height: 100% !important;
  min-height: 100%;
  background: white; }

main {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: white; }

body > header {
  width: 100%;
  background-color: #6f53f0; }
  body > header object {
    z-index: 0;
    width: 100%;
    padding: 100px 150px; }
  body > header div {
    top: 100px;
    right: 150px;
    position: absolute;
    z-index: 1; }
    body > header div button {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      padding: 10px 15px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      border-radius: 3px;
      border: 3px solid black;
      background-color: #6f53f0; }
      body > header div button:after {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        content: "";
        bottom: -15px;
        left: -20px;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        border: 3px solid black;
        background-color: white; }
      body > header div button:hover:after, body > header div button:focus:after {
        bottom: -3px;
        left: -3px; }

body > footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: black; }
  body > footer p, body > footer a {
    color: white; }

body.error404 #error404-content {
  max-width: 800px;
  margin: 100px auto;
  display: block !important;
  background-color: transparent; }
  body.error404 #error404-content h2, body.error404 #error404-content p {
    margin-bottom: 1em; }

a.trigger-menu {
  width: 35px;
  height: 35px;
  display: block;
  position: relative; }
  a.trigger-menu i {
    width: 100%;
    height: 3px;
    display: block;
    top: calc(50% - 1.5px);
    background: black; }
    a.trigger-menu i:before, a.trigger-menu i:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;
      transition: .2s; }
    a.trigger-menu i:before {
      margin-top: -8px; }
    a.trigger-menu i:after {
      margin-top: 8px; }

a.trigger-menu:hover i:before, a.trigger-menu:hover i:after {
  transition: .2s; }
a.trigger-menu:hover i:before {
  margin-top: -11px; }
a.trigger-menu:hover i:after {
  margin-top: 11px; }

@keyframes activebefore {
  50% {
    margin-top: 0; }
  100% {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }
a.trigger-menu:focus i:before {
  -webkit-animation: activebefore .4s linear; }

nav ul {
  display: inline; }
  nav ul li {
    display: inline-block;
    padding-right: 30px; }
    nav ul li:last-child {
      padding-right: 0; }

nav ul li.current {
  text-decoration: underline; }

ul.posts li div {
  padding: 15px 30px;
  background-color: #f3f4f5; }
  ul.posts li div .post-category {
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none; }
  ul.posts li div .post-title {
    display: block; }
ul.posts li div:first-child {
  padding-bottom: 200px; }
ul.posts li img {
  display: block;
  margin-top: -185px; }

body.single-post article {
  max-width: 900px;
  margin: 0 auto; }
  body.single-post article header {
    margin-bottom: 50px; }

body.single-post article header .post-categories {
  float: left; }
  body.single-post article header .post-categories a {
    border: none; }
  body.single-post article header .post-categories span {
    color: #888888; }
  body.single-post article header .post-categories span:last-child {
    display: none; }
body.single-post article header time {
  float: right; }
body.single-post article header h1 {
  padding-top: 15px; }
body.single-post article header h1,
body.single-post article header h2 {
  clear: both; }
