html,
body{
  height: auto !important;
  min-height: 100%;

  background-color: $black;
}

body{
  padding: 30px;

  background-size: 100%;
  background-image: url('/content/themes/elements/img/background.jpg');
}