main{
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 150px 30px;

  background-color: $white;

  > *{
    width: 100%;
    max-width: 800px;
    padding: 75px 0;
    margin: auto;
  }
}

@media screen and (max-width: 850px){
  main{
    padding: 75px 30px;

    > *{
      padding: 35px 0;
    }
  }
}