$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);

$grey-dark: rgba(51,51,51,1);

$blue-light: rgba(246,249,255,1);
$blue-dark: rgba(166,185,213,1);

$c-primary: $grey-dark;
$c-secondary: $blue-dark;
$c-text-primary: $grey-dark;
$c-text-secondary: $blue-dark;
$c-background: $blue-light;